header{
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.pic  {
height:100vh;
background-image:url(img/evian_origins_logo.jpg) ;
display: flex;
}
.subtitle {
margin: auto;
font-family: Arial ;
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 115px;
display: flex;
align-items:center ;
text-align: center;
color: red;
}
.evian{
    color: red;  
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;


}
.menu{
    font-size: 50px;
line-height: 57px;
display: flex;
align-items: center;
display: flex;
list-style: none;
}
a{
    margin-right: 25px;
    text-decoration: none;
    color: #E50043;
}
.about{
width: 992px;
border: 3px solid #F8BFC7;
border-radius: 20px;
padding: 24px;
margin-top: 150px;
margin-bottom: 150px;
margin-left: auto;
margin-right: auto;
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 25px;
}
.water{
border: 3px solid #F8BFC7;
 border-radius: 20px;
font-size: 25px;
width: 992px;
margin: 150px auto;
display: flex;
align-items: center;
}
.water_p{
    padding: 24px;
}
.water_img{
    width: 101px;
    height: 220px;
    padding-top: 30px;
    padding-right: 80px;
    padding-bottom: 30px;
    padding-left: 80px;

}
.social-icons{
margin: 0 auto;

}
.footer{
    display: flex;
    background-color: #F8BFC7;
}
.box{
display: flex;
justify-content: space-evenly;

}
.item img{
    width: 281px;
height: 863px;
}
.item p{
    text-align: center;
}

